<ion-header>

  <ion-navbar color="primary">
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <h4 id="text" [innerHTML]="anime.title"></h4>
  <b>
    <p id="text" [innerHTML]="anime.title_japanese"></p>
  </b>
  <p id="text" [innerHTML]="anime.title_english"></p>
  <hr>
  <ion-row>
    <ion-col>
      <img id="imgu" src="{{anime.image_url}}" alt="">
    </ion-col>
    <ion-col>
      <ion-list>
        <ion-item>
          <strong>Episodes:&nbsp;
            <ion-badge>
              <div *ngIf="anime.episodes else novalue">{{anime.episodes}}</div>
            </ion-badge>
            <ng-template #novalue>?</ng-template>
          </strong>
        </ion-item>
        <ion-item>
          <strong>Source:
            <ion-badge>
              <div *ngIf="anime.source else novalue">{{anime.source}}</div>
            </ion-badge>
          </strong>
        </ion-item>
        <ion-item>
          <strong>Score:
            <ion-badge>
              <div *ngIf="anime.score else novalue">{{anime.score}}</div>
            </ion-badge>
          </strong>
        </ion-item>
        <ion-item>
          <strong>Rank:
            <ion-badge>
              <div *ngIf="anime.rank else novalue">{{anime.rank}}</div>
            </ion-badge>
          </strong>
        </ion-item>
        <ion-item>
          <strong>Status:
            <ion-badge>
              <div *ngIf="anime.status else novalue">{{anime.status}}</div>
            </ion-badge>
          </strong>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <hr>
  <ion-card *ngIf="anime.airing">
    <ion-card-header text-center>
      <strong>
        <u>Broadcast time</u>
      </strong>
    </ion-card-header>
    <ion-card-content>
      <div text-center>{{ anime.broadcast }}</div>
    </ion-card-content>
  </ion-card>
  <hr>
  <ion-card *ngIf="anime.synopsis">
    <ion-card-header text-center>
      Click to view Description
    </ion-card-header>
    <ion-card-content>
      <button ion-button outline block icon-right (click)="DescModal(anime.synopsis)">
        Click to view descrition
        <!-- <ion-icon name="logo-whatsapp"></ion-icon> -->
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="anime.description">
    <ion-card-header text-center>
      Click to view Description
    </ion-card-header>
    <ion-card-content>
      <button ion-button outline block icon-right (click)="DescModal(anime.description)">
        Click to view descrition
        <!-- <ion-icon name="logo-whatsapp"></ion-icon> -->
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-center>
    </ion-card-header>
    <ion-card-content>
      <button ion-button outline block icon-right (click)="ShareThis()">
        Share
        <ion-icon name="logo-whatsapp"></ion-icon>
      </button>
      <a ion-button outline block icon-right href="{{anime.url}}">View in MAL
        <ion-icon name="md-link"></ion-icon>
      </a>
    </ion-card-content>
  </ion-card>
</ion-content>